body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 80px; /* Espace pour le header */
  padding-bottom: 80px; /* Espace pour le footer */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #28a745; /* Couleur verte pour le header */
  color: white;
  z-index: 1000;
  padding: 15px 0;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #28a745; /* La même couleur que le header */
  color: white;
  z-index: 1000;
  padding: 5px 0;
  text-align: center;
}

.card img {
  height: 200px;
  object-fit: contain; /* Les images s'adaptent à la taille des cartes sans être coupées */
  width: 100%;
}

.modal-body img {
  max-width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}

.modal-dialog {
  max-width: 500px;
}

.container {
  text-align: center;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.quantity-button {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.quantity-display {
  width: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}

.price-display {
  font-size: 20px;
  font-weight: bold;
}
